.header {
  color: white;
  background-color: black;
  text-transform: uppercase;
}

h4 {
  margin-bottom: 0px !important;
}

strong {
  font-weight: bold !important;
}

.header h1 {
  color: white !important;
}

.subHeader {
  color: white;
  background-color: #9C0719;
  padding: 2px 5px;
  margin-bottom: 2px;
  margin-top: 2px;
  font-style: italic;
}

.sectionHeader {
  color: black;
  background-color: #A7A9AC;
  font-style: normal;
  text-transform: uppercase;
  padding: 2px 5px;
  margin-bottom: 2px;
  margin-top: 2px;
}