.statBlock {
  padding: 10px 10px;
}

.statBlock > p {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 10px;
}

.header {
  color: white;
  background-color: black;
  text-transform: uppercase;
}

.spacer {
  visibility: hidden;
  margin-right: auto;
}

.subText {
  font-weight: normal;
  text-transform: none;
  font-size: 75%;
}

.subHeader {
  color: white;
  background-color: #9C0719;
  padding: 2px 5px;
  margin-bottom: 2px;
  margin-top: 2px;
  font-style: italic;
}

.sectionHeader {
  color: black;
  background-color: #A7A9AC;
  font-style: normal;
  text-transform: uppercase;
  padding: 2px 5px;
  margin-bottom: 2px;
  margin-top: 2px;
}